html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  color: black;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
html {
  height: 100%;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: azure;
  font-family: "Montserrat", sans-serif;
}
body,
html {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.header {
  margin-bottom: 30px;
}

.header-container {
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr 5fr;
}
.header__logo {
  max-width: 250px;
}
.header__logo img {
  max-width: 200px;
  border-radius: 50%;
}
.header__about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 20px;
}
.header__about-me {
  font-size: 18px;
  margin-bottom: 10px;
}
.header__me {
  font-size: 44px;
  font-weight: 700;
  margin-bottom: 10px;
}
.header__info {
  font-size: 24px;
}
.skills{
  margin-bottom: 40px;
}
/* =========================================== */
.main__nav {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.main__nav-list {
  display: flex;
  gap: 40px;
  color: black;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.main__nav-list a:hover {
  color: rgb(231, 7, 7);
}
.main__nav-link a {
  font-size: 18px;
  font-weight: 400;
}
.socials {
  max-width: 50px;
}
.nav{
margin: 0 50px;
}
.aboutme{
  display: flex;
  align-items: center;
  margin: 0 30px;
}
.fd{
  margin: 0 30px;
}
.fd h2{
  font-weight: 700;
  margin: 0 0 20px 0;
  align-self: center;
}
.fd p{
  font-size: 20px;
}
/* =========================================== */

.contacts {
  margin-bottom: 40px;
}
@media (max-width: 1000px) {
  .header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header__about {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .nav {
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
}
.aboutmyself{
  margin-bottom: 40px;
}
@media (max-width: 1250px) {
  .contacts-box {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .aboutmyself {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .skills {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .code-exmpl {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 40px;
  }
}
.contacts-box {
  display: flex;
  gap: 50px;
}
.socials-logo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.socials {
}
.socials-about {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}
.code-exmpl{
  margin-bottom: 40px;
}
.education{
  margin-bottom: 40px;
}
.works{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 40px;
}
.worksbox:hover{
  scale: 1.1;
}
.socials-about p:hover{
  color: blue;
}
.aboutmyself{
  font-size: 22px;
}
.cont{
  font-size: 22px;
  margin-bottom: 20px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* =========================================== */
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-bottom: 20px;
}

.footer__conent {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  align-self: center;

}
.footer__git {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__p {
  font-size: 14px;
  font-weight: 400;
}
.footer__rs {
  max-width: 80px;
}
.footer__rs-link {
  width: 100px;
}
.footer__git-link {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
